# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node.js / Frontend
node_modules
dist
dist-ssr
*.local
.netlify

# Java / Maven / Backend
HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# IDE - VS Code
.vscode/*
!.vscode/extensions.json
settings.json

# IDE - Eclipse / STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IDE - IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr

# IDE - NetBeans
/.nb-gradle/

# OS files
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?